@import "hydrogen-web/src/platform/web/ui/css/themes/element/theme.css";

/* TODO: The rules below should be extracted out of the theme as they are theme-agnostic. */

/* Iframe is transparent so we must set the background color of its document's body. */
body {
    background-color: var(--background-color-primary);
}

/* Somehow the SessionView is off by 8px, the following rules fix that. */
.SessionView {
    top: 0;
    left: 0;
}

/* Hide the left panel when in single-room mode. */
.RootView.single-room-mode .SessionView .LeftPanel  {
    display: none;
}
.RootView.single-room-mode .RightPanelView {
    grid-area: middle / right;
}
@media screen and (max-width: 800px) {
    .RootView.single-room-mode .RightPanelView {
        grid-area: middle;
    }
}

/* Make the middle take all the grid when in single-room mode. */
.RootView.single-room-mode .SessionView {
    grid-template:
        "status status" auto
        "middle middle" 1fr /
        320px   1fr;
}

/* Don't show the back button in single-room mode. */
.RootView.single-room-mode .close-middle {
    display: none !important;
}

/* Remove horizontal scrollbars in pre-session screen. */
@media screen and (min-width: 600px) {
    .PreSessionScreen {
        width: 570px;
    }
}

/* Remove drop-shadow around pre-session screen. */
.PreSessionScreen {
    box-shadow: none;
    border-radius: 0;
}

/* Reduce whitespace to remove vertical scrollbars in login screen. */
.PreSessionScreen {
    margin-top: 0;
    padding: 24px;
}
.PreSessionScreen .LoginView_separator {
    margin: -2px;
}

/* Remove link to hydrogen on GitHub. */
.PreSessionScreen a[href*="https://github.com/vector-im/hydrogen-web"] {
    display: none;
}

/* Remove vertical scrollbars in logout screen. */
.LogoutScreen {
    height: 90vh;
}

/* Update confirmation dialog. */
.chatrix-update-confirm {
    width: 100%;
    height: 100%;
    border: none;
}
.chatrix-update-confirm::backdrop {
    background-color: #ffffff;
}
.chatrix-update-confirm > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.chatrix-update-confirm form {
    width: 60%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.chatrix-update-confirm p {
    font-style: normal;
    font-weight: 300;
}
.chatrix-update-confirm strong {
    font-style: normal;
    font-weight: 600;
}
.chatrix-update-confirm .button-action {
    border-radius: 8px;
    margin-right: 10px;
}
.chatrix-update-confirm .button-action:not(.primary) {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
