@import "hydrogen-web/src/platform/web/ui/css/themes/element/theme.css";

/* TODO: The rules below should be extracted out of the theme as they are theme-agnostic. */

/* Iframe is transparent so we must set the background color of its document's body. */
body {
    background-color: var(--background-color-primary);
}

/* Somehow the SessionView is off by 8px, the following rules fix that. */
.SessionView {
    top: 0;
    left: 0;
}

/* Hide back button when in single-room mode. */
.RootView.single-room-mode .RoomHeader .close-middle {
    display: none !important;
}

/* Remove horizontal scrollbars in pre-session screen. */
@media screen and (min-width: 600px) {
    .PreSessionScreen {
        width: 570px;
    }
}

.PreSessionScreen {
    /* Remove drop-shadow around pre-session screen. */
    box-shadow: none;
    border-radius: 0;

    /* Remove whitespace on top of pre-session screen. */
    margin-top: 0;
}

/* Remove link to hydrogen on GitHub. */
.PreSessionScreen a[href*="https://github.com/vector-im/hydrogen-web"] {
    display: none;
}
